<div class="content-wrapper">
	<section class="content-header">
		<h1>控制面板</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
			<li class="active">控制面板</li>
		</ol>
	</section>

	<section class="content">
		<div class="row">

		</div>
	</section>
</div>
<script type="text/javascript">
$(function(){
	//切换应用
	$(".change-app-btn").click(function(){
		var app_id = $(this).attr('data-app-id');
		var is_auth = $(this).attr('data-is-auth');
		if(is_auth == 0) {
			ArtDialogHlp.showInfo('提示', '该应用无需设置权限，无法切换');
			return false;
		}
		
		$.post('/admin/index/changeApp',{app_id:app_id},function(data){
            if(data.Code == 999) {
            	ArtDialogHlp.showInfo('提示', data.Msg, function(){
					window.location.href = '/admin';
				});
            } else {
            	ArtDialogHlp.showInfo('提示', data.Msg);
            }
        },'json');
	});
});
</script>